.nav-content {
  display: flex;
  flex-direction: column;   /* uno debajo del otro */
  align-items: center;      /* centra horizontalmente */
  justify-content: center;  /* centra verticalmente (si hay altura) */
  gap: 20px;                /* espacio entre bandcamp y soundcloud */
}

.bandcamp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90% !important;
  z-index: 2 !important;
}

.soundcloud {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    z-index: 2 !important;

}

.buy-button {
  position: relative;
  left: -45.7%;
  padding: 5px 22px;
  background-color: #540111;
  color: #dfdfdf;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 400;
  transition: all 0.2s ease;
}

.buy-button:hover {
  background-color: #7a021a;
  transform: translateY(-1px);
}

/* iframe{
	width: 80%;
} */

@media (max-width: 480px) {
    
}


